{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>usuarios</h1>
  {% for user in users %}
  <a href="#" class="usuario-listado">
    <li>
      {% if not session["user"]== user.email %} 
      {{ user.email }} {{user.username}} 
        {% if user.activo %}
          -  activo 
          {% else %}
          - desactivado
        {% endif %}
      - {{ user.first_name }} - {{ user.last_name }}
      {% endif %}
    </li>
  </a>
  {% endfor %}
  <a href="{{ url_for('home') }}" class="link">Volver</a>
  <a href="{{ url_for('user_new') }}" class="link">Nuevo</a>
{% endblock %}
